version: '3'
services:
  golang:
    build: ./
    ports:
      - "3002:8080"
    container_name: golang_backend
    volumes:
      - "./:/workspace/golang_backend/"
    depends_on:
      - mysql
  mysql:
    build: ./db/
    ports:
      - "3003:3306"
    environment:
      MYSQL_ROOT_PASSWORD: pass
      TZ: "Asia/Tokyo"
    container_name: movie_mysql
    volumes:
      - "./db/data:/var/lib/mysql"
      - "./db/init:/docker-entrypoint-initdb.d"
